body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

section:nth-child(1) {
    background: linear-gradient(to right, #0f271b, #204331, #2c644b);
}

#sen1 {
    color: white;
    /* width: 750px; 
    height: 35px;  */
    font-size: 35px;
    font-family: monospace;
    white-space: nowrap;
    letter-spacing: .15em;
    border-right: .15em solid transparent;

    /* position: absolute;
    top: 50%;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
     padding-left: 25%; */

    animation-name: blink-caret;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-delay: 2.2s;
    animation-iteration-count: infinite;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

section:nth-child(2) {
    background: url('img/bk1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}